#div_1{
    margin:auto;
	width:900px;
}

h1{
	font-family:"Courier New";
	color:rgb(150, 50, 50);
	text-decoration: underline;
	text-shadow: 0 0 40px rgba(0, 0, 0, 1);
	text-align: center;
}

h2{
	line-height: 50px;
	font-size: 2em;
	font-style: italic;
	text-transform:uppercase;
	letter-spacing: 20px;
	text-align: center;
}

.stile_1{
	text-indent: 5em;
	font-variant: small-caps;
	color: #111180;
	padding: 10px;
}

.stile_2{
	white-space: pre-line;
	word-spacing: 20px;
	text-indent: 20px;
	text-align: justify;
	padding: 10px;
}

.stile_3{
	direction:rtl;
}

#div_2{
	width:600px;
	margin:auto;
}

#div_3{
	width:100%;
	height:2cm;
	background-color:rgba(0, 0, 0, .5);
	margin: 50px 0 0 0;
}

.div_4{
    background-color: #cbd8df;
}


.div_5{
    background-color: #e7dfdf;
}

.div_6{
    background-color: #fff976;
}

.image{
	width:100%;
}

.line{
	height: 400px;
	width: 50%;
	float: left;
}

.hh{
	text-align: center;
	padding: 25px;
}