.table{
	font-family: arial;
	color: #4c637b;
	font-size: 14px;
}

.heed th{
	text-transform: uppercase;
	font-size: 11px;
	padding: 6px;
	background: #e3eaf3;
}

.row:nth-child(2n + 1) {
  background: #e3eaf3; 
} 

.row td{
	padding:17px 15px 17px 15px ;
}

.row{
  background: #f2f6fa;
}

.row td:first-child{
	text-transform: capitalize;
}

.row:hover{
	background-color: #e2e5e9;
}