body{
	margin: 0;
}

.main{
	position: relative;
	width: 1050px;
	margin: 0 auto;
}

.th{
	display: inline-block;
	margin:30px 30px 0 0;
}

.th__border{
	width: 285px;
	height: 317px;
	border:1px #ced1c5 solid;
	border-radius: 3px;
}

.th__image1{
	width: 255px;
	height: 286px;
	background-image: url(image/th1.png);
	background-size: 100% 100%;
	margin: auto;
	margin-top: 5%;
}

.th__image1-hover{
	width: 100%;
	height: 100%;
	color: rgba(0, 0, 0, 0);
}

.th__image1-hover:hover{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color:#fff;
}

.th__image1__text-hover{
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    padding-top: 40%;
}

.th__image2{
	width: 255px;
	height: 286px;
	background-image: url(image/th2.png);
	background-size: 100% 100%;
	margin: auto;
	margin-top: 5%;
}

.th__bar{
	margin-top: 15px;
}

.th__bar__button{
	background: linear-gradient(to bottom, #fffffe 0%,#f2f3ec 100%);
	color:gray;
	padding: 10px 30px;
	font-size: 17px;
	border:1px #ced1c5 solid;
	border-radius: 3px;
	display: inline-block;
}

.right{
	margin-left: 18px;
}

.th__bar__button:hover{
	background: #92c952;
	color: #fff;
}

.th__image1-hover:hover .gray{
	color:gray;
}

.th__image1-hover:hover .green{
	color:#89CA3A;
}
