#img{
	width: 400px;
	height: 220px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
	margin-bottom: 30px;
}

img{
	position: relative;
	z-index: -2;
	width: 400px;
	height: 220px;
}

#img_2{
	width: 400px;
	height: 220px;
	background: url(2.jpg);
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0.9);
}