#first{
	min-width:100px;
	background-color:#A5FAE9;
	border:2px #74B3A5 solid;	
	border-radius:5px;
	padding:5px;
}

#second{
	background-color:#FCF1EB;
	border:2px #74B3A5 solid;	
}

#header{
	background: -webkit-linear-gradient(top, #ffe175 0%,#febf04 100%);
	font-size:20px;
	font-family:"arial";
	padding:10px;
}

#par{
	font-family:"arial";
	padding:5px;
	margin-top: -25px;
	color:#658292;
}

#ug{
	width: 0px;
	border: 15px #febf04 solid;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	margin-left: 10px;
}
