@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body{
	background-color: #333;
    background: repeating-linear-gradient(45deg, #f6f6f6 0, #f6f6f6 5%, #fff 0, #fff 50%) 0 / 20px 20px;
}

#css{
	width:330px;
	margin:0 auto;
}
#main{
	width:330px;
	margin:0 auto;
}

h1{
	font-family: Open Sans Condensed;
  	font-size: 40px;
 	text-align: center;
}

h1:hover:before, h1:hover:after{
	font-size: 20px;
	font-style: italic;
}

h1:hover:before {
  content: "some ";
}

h1:hover:after {
  content: " by NobodyRocks";
}

.box{
	width:100px;
	height: 100px;
	background-color:#3498db;
	margin:10px 0 0 5px;
	padding: 0;
	color:white;
	font-size: 28px;
	font-family:'Open Sans Condensed';
	border: 2px #ffffff solid;
}

.box:hover{
	cursor: pointer;
}

.highlight{
	transition-property: color,background-color ;
	transition-duration: 0.5s;
}

.highlight:hover{
	background-color:white;
	color:#35bdff;
}

.fade{
	transition-property: opacity;
	transition-duration: 0.5s;
}

.fade:hover{
	opacity:0;
}

.boom{
	transition-property: transform,opacity ;
	transition-duration: 0.5s;
}

.boom:hover{
	transform: scale(2, 2);
	opacity:0;
}

.focus{
	transition-property: border-width ;
	transition-duration: 0.5s;
}

.focus:hover{
	border-width: 20px;
}

.rotate{
	transition-property: transform ;
	transition-duration: 0.5s;
}

.rotate:hover{
    transform: rotate(90deg);
}

.knit{
	transition-property: height ;
	transition-duration: 0.5s;
}

.knit:hover{
    height: 0;
}

.shrink{
	transition-property: transform ;
	transition-duration: 0.5s;
}

.shrink:hover{
     transform: scale(0, 0);
}

.squeeze{
	transition-property: transform ;
	transition-duration: 0.5s;
}

.squeeze:hover{
     transform: scale(1.5, 0);
}

.deform{
	transition-property: transform ;
	transition-duration: 0.5s;
}

.deform:hover{
	transform: skew(45deg, 45deg);
}
