@font-face {
    font-family: "Proxima";
    src: url(../fonts/ProximaNovaRegular.otf);
   }

@font-face {
    font-family: "FontAwesome";
    src: url(../fonts/FontAwesome.otf);
   }

html,
body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    overflow-y: hidden;
    height: 100%;
}

.content{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.header{
	background-color: #2f364a;
	height: 45px;
	display: flex;
	flex-shrink: 0;
	justify-content: flex-end;
	font-family: "Proxima";
	font-size: 0.9em;
}

.left-side{
	background-color: #19202e;
	display: flex;
	flex-direction: column;
	width: 200px;
	flex-shrink: 0;
}

.footer {
    box-shadow: inset 10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-basis: 45px;
    flex-shrink: 0;
    background-color: #181e2c;
    justify-content: flex-end;
}

::-webkit-scrollbar-track {
            background-color:rgba(1,1,1,0);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #CCD5E4;
    border-left: 5px solid;
    border-color: rgba(1,1,1,0);
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-button {
height: 5px
}

@media screen and (max-height: 1000px){

  .left-side{
    overflow-y: auto;
    overflow-x: hidden;
  }

}
