.line{
    margin-top: 400px;
    height: 50px;
    border-radius: 40px;
    width: 200px;
    background-color: #A39D9D;
    border: 4px gray solid;
    box-shadow: inset 0 0 5px black;
}

.circle {
    position: absolute;
    background-color: gray;
    box-shadow: inset 0 0 5px black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    animation-direction: alternate;
}

@keyframes spin {
    100% { margin-left: 150px; }
}